@page "/companies"

<PageTitle>Companies</PageTitle>

@using StockVision.Core.Interfaces
@using StockVision.Core.Models
@using StockVision.Service.Interfaces
@using StockVision.WebApp.Data
@inject ICompanyService CompanyService
@inject IUnitOfWork UnitOfWork

<h1 style="font-family:Consolas;">Companies</h1>

@if (companies == null)
{
    <p><em>Loading companies...</em></p>
}
else
{
 
            @foreach (var company in companies)
            {

            <strong> <p style="margin-bottom:0; font-family:Consolas; font-size:18px;"> @company.Name (@company.Symbol)</p></strong>
       
                        @if (company.Sector != null)
                        {
            <p style="margin-bottom:0; font-family:Consolas"> @company.Sector.Name</p>
                        }
            <p style="margin-bottom:10; font-family:Consolas">
                    @foreach (var index in company.StockIndexes)
                    {
                        @index.Name
                    }
            </p>
            }
   
}

@code {
    private Company[]? companies;

    protected override async Task OnInitializedAsync()
    {
        var data = await CompanyService.GetCompaniesFromApi();
        companies = data.Cast<Company>().ToArray();
    }
}
