@page "/indexes"

<PageTitle>Sectors</PageTitle>

@using StockVision.Core.Interfaces
@using StockVision.Core.Models
@using StockVision.Service.Interfaces
@using StockVision.WebApp.Data
@inject IStockIndexService IndexService
@inject IUnitOfWork UnitOfWork

<h1>Indexes</h1>

@if (indexes == null)
{
    <p><em>Loading indexes...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var index in indexes)
            {
                <tr>
                    <td>@index.Name</td>

                    @foreach (var company in index.Companies)
                    {
                        <td>@company.Symbol</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private StockIndex[]? indexes;

    protected override async Task OnInitializedAsync()
    {
        var data = await IndexService.GetIndexesFromAPI();
        indexes = data.Cast<StockIndex>().ToArray();
    }
}
