@page "/sectors"

<PageTitle>Sectors</PageTitle>

@using StockVision.Core.Interfaces
@using StockVision.Core.Models
@using StockVision.Service.Interfaces
@using StockVision.WebApp.Data
@inject ISectorService SectorService
@inject IUnitOfWork UnitOfWork

<h1>Sectors</h1>

@if (sectors == null)
{
    <p><em>Loading sectors...</em></p>
}
else
{
    <table class="table-bordered" style="font-family:Consolas; ">
@*        <thead>
            <tr>
                <th>Sector</th>
                <th>Companies</th>
            </tr>
        </thead>*@
        <tbody>
            @foreach (var sector in sectors)
            {
                <tr>
                    <td style="font-size:18px"><strong>@sector.Name</strong></td>
                
                    @foreach(var company in sector.Companies)
                    {
                        <td>@company.Symbol</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Sector[]? sectors;

    protected override async Task OnInitializedAsync()
    {
        var data = await SectorService.GetSectorsFromAPI();
        sectors = data.Cast<Sector>().ToArray();
    }
}
//<style>
//    body {
//        background-color: ThreeDDarkShadow;
//    }
//</style>
